* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* SEZIONE HEADER */

/* SOTTOSEZIONE NAV */

header {
  background-color: #0d325a;
  font-weight: 800;
  color: white;
  /* debug rules */
  height: 459px;
  /* end debug rules */
}

.logo {
  padding: 20px 100px;
  float: left;
}

.navbar {
  float: left;
  padding-top: 37px;
  margin-right: -30px;
}

.navbar a{
  list-style: none;
  text-decoration: none;
  float: left;
  margin-left: 1rem;
  font-size: 11px;
  color: white;
  display: inline-block;
}
.navbar a:hover {
  color: orange;
}

.menu {
  float: right;
  padding-top: 34px;
}

.menu a{
  text-decoration: none;
  color: white;
  font-size: 13px;
  margin-right: 9px;
}

#login {
  border: 1px solid #4e8cb6;
  padding: 8px 25px;
  margin-right: 9px;
}

#piano {
  background-color: #7fb802;
  padding: 8px 25px;
  margin-right: 50px;
}

/* FINE SOTTOSEZIONE NAV */

.scrittalogo {
  width: 800px;
  position: absolute;
  top: 180px;
  left: 40px;
  font-size: 1.5em;
}

.bv a{
  background-color: #7fb802;
  padding: 10px 25px;
  margin-right: 50px;
  text-decoration: none;
  color: white;
  position: absolute;
  left: 40px;
  top: 310px;
}

.banner {
  float: right;
  padding-top: 37px;
}

/* FINE SEZIONE HEADER */

/* INIZIO MAIN PAGE */

/* GRUPPO GRIGI  */

.info {
  background-color: #f9f9f9;
  text-align: center;
  /* debug rules */
  height: 130px;
  /* end debug rules */
  padding: 40px 20px 30px 20px;
}

.info h4{
  font-weight: 300;
  margin-top: -10px;
  font-size: 24px;
  margin-bottom: 20px;
}

.info p {
  font-size: 18px;
  font-weight: 300;
  color: #999;
}

/* FINE GRUPPO GRIGI */

/* GRUPPO BIANCHI */

article {
  background-color: #00000;
  width: 100%;
  /* debug rules */
  height: 320px;
  /* end debug rules */
}

article li {
  text-align: center;
  width: 420px;
  display: inline-block;
}

.fotina {
  margin-bottom: 30px;
}

.b1 {
  height: 380px;
  float: left;

}

.b1 ul {
  margin-left: 40px;
}

.b1 h6 {
  color: #7fb802;
  font-size: 23px;
  margin-bottom: 15px;
}

.b1 hr {
  opacity: .3;
  width: 32px;
  border-top: 2px solid;
  margin: auto;
  margin-bottom: 15px;
}

.b1 p {
  margin-bottom: 15px;
  color: #999;
}


/* FINE GRUPPO BIANCHI */

/* GRUPPO BLU */

.blu {
  background-color: #0d325a;
  /* debug rules */
  height: 480px;
  /* end debug rules */
}

/* FINE GRUPPO BLU */

/* FINE PAGINA */

.endpage {
  background-color: #0f335a;
  /* debug rules */
  height: 135px;
  /* end debug rules */
}
footer {
  background-color: #17406b;
  /* debug rules */
  height: 400px;
  /* end debug rules */
}
